@media (min-width: 921px) {
  .aboutme {
    &__box {
      &-info {
        &-heading {
          font-size: 3rem;
        }

        &-text {
          margin-top: 2em;
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .header {
    grid-template-rows: auto repeat(2, 1fr);

    &__img {
      grid-row: 2/4;
      grid-column: 2/3;
    }

    &__text {
      grid-row: 2/4;
      grid-column: 1/2;
    }

    &__bg-icon-one {
      width: 15%;
      left: 5em;
    }

    &__bg-icon-two {
      display: block;
      left: 22em;
      top: 10em;
      width: 10%;
      animation: left-rotation 40s infinite;
    }

    &__arrow {
      display: block;
      position: absolute;
      left: 48%;
      transform: translateX(-50%);
      bottom: 3em;

      &-icon {
        border: 1px solid $white;
        border-radius: 50%;
        padding: 2em;
        width: 125px;
      }

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border: 1px solid $white;
        border-radius: 50%;
        animation: pulse 2s infinite;
      }
    }
  }

  .nav {
    position: fixed;
    background-color: $dark;
    width: 100%;
    z-index: 100;

    &-desktop {
      display: flex;
      justify-content: flex-end;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding: 1em;
    }

    &__link {
      color: $white;
      margin: 0.5em;
      padding: 0.5em;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border: 1px solid $orange;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        opacity: 0;
      }

      &:hover::before {
        animation: pulse 1s;
        opacity: 1;
      }
    }
  }

  .hamburger {
    display: none;
  }

  .section-heading {
    font-size: 5.5rem;
  }
}

@media (min-width: 1280px) {
  .aboutme {
    // padding: 0;
    &__box {
      &-info {
        &-heading {
          font-size: 4rem;
        }

        &-text {
          font-size: 1.8rem;
        }

        &-signature {
          font-size: 5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 2065px) {
  .aboutme {
    // min-height: 60vh;
    padding-bottom: 6em;
    &__box {
      min-height: 80vh;

      &-img {
        min-height: 80vh;
      }

      &-info {
        // min-height: 80vh;

        &-heading {
          font-size: 6rem;
        }

        &-text {
          font-size: 2.4rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 2478px) {
  .aboutme {
    &__box {
      &-info {
        &-text {
          font-size: 2.5rem;
        }
      }
    }
  }
}
