@mixin heroImages($bgImg) {
  background-image: url($bgImg);
  background-size: cover;
  background-position: center;
}

@mixin iconImages($iImg) {
  background-image: url($iImg);
  background-position: center;
  background-repeat: no-repeat;
}
